{% extends 'base.html' %}

{% block header %}
    <h3 class="mt-4 mb-4">Self service ebay converter</h3>
    
{% endblock %}

{% block content %}
    <form action = "{{ context.base_url }}" method = "POST" enctype = "multipart/form-data" style="display:inherit;">
        <div class="d-flex justify-content-center col-md-4 offset-md-4">
            <input class="form-control me-2" id="file-upload" name="file-upload" type="file" placeholder="" required>
            <button id="file-upload" class="btn btn-outline-success" type="submit">Submit</button>                        
        </div>
        <h4 class="mt-2"> Additional parameters </h4>
        <div class="col-md-12">
            <div class="mt-2">
                Dimensions:
                <input type="radio" id="cm" name="dimension" value="cm" checked>
                <label for="cm"> Centimeters <label>
                <input type="radio" id="cm_inch" name="dimension" value="cm_inch">
                <label for="cm_inch"> Centimeters & Inches</label>
            </div>
            <div class="mt-2">
                Template category:
                <input type="radio" id="regular" name="category" value="regular" checked>
                <label for="regular"> Regular <label>
                <input type="radio" id="kids" name="category" value="kids">
                <label for="kids"> Kids </label>
            </div>
            <div class="mt-2">
                Account:
                <input type="radio" id="xrug" name="account" value="xrug" checked>
                <label for="xrug"> Xrug <label>
                <input type="radio" id="magicrug" name="account" value="magicrug">
                <label for="magicrug"> Magicrug </label>
            </div>
            <div class="mt-2">
                Dry run:
                <input type="checkbox" id="dry_run" name="dry_run" value="True" checked>
            </div>
        </div>
    </form>
{% endblock %}